<!-- parciales/footer -->
<footer>
    <div class="container-footer-all">
        <div class="container-body">
            <div class="column-mobile">
                <div class="column-1">
                    <h3>Redes Sociales</h3>
                    <div class="redes-sociales">
                        <a href="" target="_blank"> <i class="fa-brands fa-square-facebook"></i> <label> Síguenos en
                                Facebook</label> </a>
                    </div>
                    <div class="redes-sociales">
                        <a href="" target="_blank"> <i class="fa-brands fa-instagram"></i> <label> Síguenos en
                                Instagram</label> </a>
                    </div>
                    <div class="redes-sociales">
                        <a href="" target="_blank"> <i class="fa-brands fa fa-twitter-square"></i> <label> Síguenos
                                en Twitter</label> </a>
                    </div>
                </div>

                <div class="column-2">
                    <h3>Horarios de Atencion</h3>
                    <div class="horario">
                        <label> Lunes a Sabado</label>
                        <label> 9:00 a 21:00 hs</label>
                    </div>
                </div>
            </div>

            <div class="column-mobile">
                <div class="column-3">
                    <h3>Medios de Pago</h3>
                    <div class="medios_pago">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/MasterCard_Logo.svg/450px-MasterCard_Logo.svg.png" alt="mastercard" width="40" height="25">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/American_Express_logo.svg/450px-American_Express_logo.svg.png" alt="amex" width="40" height="25">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Diners_Club_Logo3.svg" alt="diners" width="40" height="25">
                        <img src="https://novedadescec.com.ar/wp-content/uploads/2019/06/banelco.png"
                            alt="ar_banelco" width="40" height="25">
                        <img src="https://mutualmedica.org.ar/wp-content/uploads/2020/01/tarjeta-naranja.png"
                            alt="ar_tarjeta-naranja" width="40" height="25">
                        <img src="https://chida.tur.ar/wp-content/uploads/2020/01/MERCADOPAGO.png" alt="mercadopago" width="40" height="25">
                        <img src="https://static.vecteezy.com/system/resources/previews/018/923/124/original/hand-with-money-png.png" alt="cash" width="40" height="25">
                    </div>
                </div>


                <div class="column-4">
                    <h3>Contacto</h3>
                    <div class="contacto">
                        <a href="" target="_blank"> <i class="fa fa-phone-square"></i> <label>
                                +5493854567896</label> </a>
                    </div>
                    <div class="contacto">
                        <a href="" target="_blank"> <i class="fa fa-envelope"></i> <label> Gorriao@gmail.com
                            </label> </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-footer">
            <div class="footer">
                <div class="copyright">
                    © 2023 Todos los Derechos Reservados |
                    <a href=""> Gorriao</a>
                </div>

                <div class="information">
                    <a href=""> Términos y condiciones </a>
                </div>
            </div>
        </div>

    </div>
</footer>