
.car{
    border-radius: 25px;
    width: 75%;
    background-color: #ffffff;
    margin: auto;
    margin-top: 15vh;
    margin-bottom: 50px;
}

.buy{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

hr{
    height: 2px;
    width: 80%;
    background-color: #bfbfbf;
}

.car h1{
    text-align: center;
    margin: auto;
}

.produ{
    width: 10%;
}

.last{
    margin-top: 40px;
    margin-left: 25%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.last p{
    font-size: 20px;
}

.fin{
    /*margin-left: 80%;*/
    margin-bottom: 3%;
    background-color:#B2B0AE;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
}

/*===========HEADER AND BANNER===========*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    margin-top: -1rem;
}

.login {
    color: black;
    text-decoration: none
}

.carrito {
    color: black;
    text-decoration: none
}


.logoprincipal {
    width: 60%;
    height: 100%;
    border-radius: 50%;
    padding: 0px;
    border: 1px solid #333;
}

.cajalogo {
    width: 20%;
    text-align: center;
}



.login a {
    color: black;
    text-decoration: none;
}


.login a:visited {
    color: black;
}

.carrito a {
    color: black;
    text-decoration: none;
}


.carrito a:visited {
    color: black;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #e5bf91;
    width: 100%;
    z-index: 250;
    padding-top: 15px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


.searchbar {
    align-content: center;
    width: 60%;
    display: flex;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.search-bar input {
    position: relative;
    z-index: 915;
    color: #333;
    font-size: 16px;
    margin: 0;
    font-family: inherit;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    height: 40px;
    width: 100%;
    padding: 10px 60px 10px 15px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1.5px;
}

.search-bar button {
    position: absolute;
    z-index: 920;
    padding: 0;
    background: none;
    border: none;
    font-size: 22px;
    color: #666;
    line-height: 1em;
    border-radius: 0 2px 2px 0;
    width: 46px;
    right: 0;
    left: auto;
    background-image: none;
    height: 40px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.user-cart {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 20%;
    align-items: center;
    font-size: 24px;
}

.fa-custom {
    color: black;
}

.navbar {
    text-align: center;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    padding: 15px 10px 15px 10px;
    margin-top: -8px;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar li a {
    text-decoration: none;
    color:#000000;
}
/*============FOOTER====================*/
footer {
    width: 100%;
    background: #cccccc;
    color: #000000;
    position: absolute;
}

.container-footer-all {
    display: flex;
    flex-direction: column;
}


.container-body {
    display: flex;
    padding: 25px 10px 25px 10px;
    flex-direction: column;
}

.column-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.column-1, .column-2, .column-3, .column-4 {
    width: 40%;
}

.column-1 {
    display: flex;
    flex-direction: column;
}

.redes-sociales {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: black;
}

.redes-sociales a {
    text-decoration: none;
    color: black;
}


.redes-sociales a i {
    font-size: 20px;
}

.horario{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.horario label{
    padding-bottom: 10px;
}

.medios_pago {
    margin-top: 10px;
}

.contacto {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.contacto a {
    text-decoration: none;
    color: black;
}

.contacto a i{
    font-size: 20px;
}

.container-footer {
    max-width: 100%;
    background: #414141;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.copyright {
    color: #ffffff;
}

.copyright a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.information a {
    text-decoration: none;
    color: #ffffff;
}

@media (min-width: 761px) {
    .cajalogo {
       width: 15%;
    }

    .searchbar{
        width: 75%;
    }
    
    .user-cart{
        width: 10%;
    }

    .navbar ul {
    margin-top: -40px;
    }

    body {
        background-color:  #ebebeb;
        margin-top: 11rem;
    }

    .car{
        margin-top: 5vb;
    }

    .container-body{
        flex-direction: row;
    }

    .column-1, .column-2, .column-3, .column-4 {
        padding-right: 50px;
        padding-left: 50px;
        width: 50%;  
    }
}
