/*===========HEADER AND BANNER===========*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    margin-top: 7rem;
}

.login {
    color: black;
    text-decoration: none
}

.carrito {
    color: black;
    text-decoration: none
}


.logoprincipal {
    width: 60%;
    height: 100%;
    border-radius: 50%;
    padding: 0px;
    border: 1px solid #333;
}

.cajalogo {
    width: 20%;
    text-align: center;
}



.login a {
    color: black;
    text-decoration: none;
}


.login a:visited {
    color: black;
}

.carrito a {
    color: black;
    text-decoration: none;
}


.carrito a:visited {
    color: black;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #e5bf91;
    width: 100%;
    z-index: 250;
    padding-top: 15px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


.searchbar {
    align-content: center;
    width: 60%;
    display: flex;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.search-bar input {
    position: relative;
    z-index: 915;
    color: #333;
    font-size: 16px;
    margin: 0;
    font-family: inherit;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    height: 40px;
    width: 100%;
    padding: 10px 60px 10px 15px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1.5px;
}

.search-bar button {
    position: absolute;
    z-index: 920;
    padding: 0;
    background: none;
    border: none;
    font-size: 22px;
    color: #666;
    line-height: 1em;
    border-radius: 0 2px 2px 0;
    width: 46px;
    right: 0;
    left: auto;
    background-image: none;
    height: 40px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.user-cart {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 20%;
    align-items: center;
    font-size: 24px;
}

.fa-custom {
    color: black;
}

.navbar {
    text-align: center;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    padding: 15px 10px 15px 10px;
    margin-top: -8px;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar li a {
    text-decoration: none;
    color:#000000;
}



/*=================MAIN=================*/
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.col-12 {
    width: 100%;
    padding: 10px;
}

h2 {
    font-size: 24px;
    text-align: center;
}

.add-link {
    display: inline-block;
    margin: 10px 0;
    padding: 10px;
    background-color: #414141;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.add-link ion-icon {
    margin-right: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #e5bf91;
    color: #000000;
}

a {
    text-decoration: none;
    color: #414141;
}

a:hover {
    text-decoration: underline;
}

ion-icon {
    font-size: 20px;
    vertical-align: middle;
}

/*Nuevo que hice yo, Rodrigo*/
/* Estilo para las imágenes en la tabla */
table img {
    max-width: 100%;
    height: auto;
    display: block;
    border: 1px solid #ddd;
}

/* Estilo para las celdas de la tabla */
table td {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

/* Nuevo para el product de clientes */

.banner {
    text-align: center;
    margin-bottom: -1vb;
}

.banner-1 {
    text-align: center;
    margin-top:11vh;
}

.bannerdestacado {
    max-width: 100%;
    height: auto;
}

.box {
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.box a {
    text-align: center;
    text-decoration: none;
    color:#000000 ;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 14px;
}

.left {
    border-left: 1px solid #666;
}

.categorias {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
    background-color:#e5bf91;
    margin-top: -1vb;
}

main {
    padding: 25px;
}

article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.cajaproductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.producto {
    justify-content: center;
    /*flex: 0 0 calc(30% - 20px);*/
    margin: 1% 1%;
    padding: 10px;
    background-color: rgb(183, 192, 167);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.producto img {
    width: 100%;
}

/*============FOOTER====================*/
footer {
    width: 100%;
    background: #cccccc;
    color: #000000;
    position: absolute;
}

.container-footer-all {
    display: flex;
    flex-direction: column;
}


.container-body {
    display: flex;
    padding: 25px 10px 25px 10px;
    flex-direction: column;
}

.column-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.column-1, .column-2, .column-3, .column-4 {
    width: 40%;
}

.column-1 {
    display: flex;
    flex-direction: column;
}

.redes-sociales {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: black;
}

.redes-sociales a {
    text-decoration: none;
    color: black;
}


.redes-sociales a i {
    font-size: 20px;
}

.horario{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.horario label{
    padding-bottom: 10px;
}

.medios_pago {
    margin-top: 10px;
}

.contacto {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.contacto a {
    text-decoration: none;
    color: black;
}

.contacto a i{
    font-size: 20px;
}

.container-footer {
    max-width: 100%;
    background: #414141;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.copyright {
    color: #ffffff;
}

.copyright a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.information a {
    text-decoration: none;
    color: #ffffff;
}


@media (min-width: 761px) {
    .cajalogo {
       width: 15%;
    }

    .searchbar{
        width: 75%;
    }
    
    .user-cart{
        width: 10%;
    }

    .navbar ul {
        margin-top: -40px;
    }

    .container-main {
        margin-top: 5vh;
        flex-direction: row;
    }
    
    .container-imgs{
        width: fit-content;
    }
    
    .container-secondary img{
        height: 25vb;
    }

    .container-info {
        margin-top: 0px;
        width: fit-content;
        margin-left: 20px;
        height: fit-content;
    }
    .carousel img  {
        width: 25%;
        height: 35vh; 
    }

    body {
        background-color: #ebebeb;
        margin-top: 7rem;
    }

    .container-body{
        flex-direction: row;
    }

    .banner-1 {
        margin-top: -3vb;
    }

    .producto {
        width: 25%;
    }

    .cajaproductos {
        flex-direction: row;
    }

    .column-1, .column-2, .column-3, .column-4 {
        padding-right: 50px;
        padding-left: 50px;
        width: 50%;  
    }
}

