<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./css/carstyles.css">
        <title>Gorriao - Carrito</title>
        <%- include('parciales/head') %>
    </head>


<body>
<%- include('parciales/header') %>

    <section class="car">
        <h1>Tu carrito</h1>
            <article class="buy">
                <img class="produ" src="img/gorracelesteyazul.jpg">
                <a href="#">Gorra IKT</a>
                <p>$6.770</p>
                <p>40% off</p>
                <a href="#">
                    <i class="fa-solid fa-minus"></i>
                    </a>
                    <a href="#">
                    <i class="fa-solid fa-plus"></i>
                    </a>
            </article>
                            <hr>

            <article class="buy">
                <img class="produ" src="img/gorramorada.jpg">
                <a href="#">Gorra IKT</a>
                <p>$6.770</p>
                <p>40% off</p>
                <a href="#">
                <i class="fa-solid fa-minus"></i>
                </a>
                <a href="#">
                <i class="fa-solid fa-plus"></i>
                </a>
            </article>
            <hr>

            <article class="buy">
                <img class="produ" src="img/gorranaranja.jpg">
                <a href="#">Gorra IKT</a>
                <p>$6.770</p>
                <p>40% off</p>
                <a href="#">
                <i class="fa-solid fa-minus"></i>
                </a>
                <a href="#">
                <i class="fa-solid fa-plus"></i>
                </a>
            </article>
            <hr>
        <article class="last">
            <p>Total: ...$$$...</p>
            
                <button class="fin">Finalizar compra</button>
            
        </article>
    </section>
    
    <%- include('parciales/footer') %>
</body>



</html>